../extlibs/ti/TivaWare_C_Series-2.1.4.178 https://gitlab.tphys.jku.at/haw-hamburg/embedded-c/Tiva-TM4C1294NCPDT/repos/extlibs/ti/TivaWare_C_Series-2.1.4.178.git "tag v0.2"
../rtos/FreeRTOS https://gitlab.tphys.jku.at/haw-hamburg/embedded-c/Tiva-TM4C1294NCPDT/repos/rtos/FreeRTOS.git "tag FreeRTOSv10.2.1_HAWv0.1"
../utils/circularBuffer https://gitlab.tphys.jku.at/haw-hamburg/embedded-c/common/repos/utils/circularBuffer.git "branch devel-BA-Timsina"
../hal/nvic https://gitlab.tphys.jku.at/haw-hamburg/embedded-c/Tiva-TM4C1294NCPDT/repos/hal/nvic.git "branch devel-BA-Timsina"
../hal/uart https://gitlab.tphys.jku.at/haw-hamburg/embedded-c/Tiva-TM4C1294NCPDT/repos/hal/uart.git "branch devel-BA-Timsina"